<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="author">
        <h1 class="author__heading">Hi, I am Lalith Sai.</h1>
        <p class="author__body">Web developer</p>
        <p class="author__body1">Travel Blog</p>
      </div>
      <div class="slideshow-container"> 
        <div class="mySlides fade"> 
            <div class="numbertext">
                1 / 10
    
            </div> 
            

            <img src="../img/Travel-1.jpeg" > 
            <div class="text">
                Manali, enveloped by the towering Himalayas, provides a tranquil escape adorned with lush green valleys and crisp mountain air. You might have reveled in thrilling adventures like paragliding, skiing, and trekking along scenic trails like Solang Valley and Rohtang Pass. Visits to the ancient Hadimba Temple and the cozy old Manali Bazaar could have left you with a blend of cultural charm and natural splendor.
            </div> 
        </div> 
        <div class="mySlides fade"> 
            <div class="numbertext">
                2 / 10
            </div> 
            <img src="../img/Travel-2.jpeg"  >
             <div class="text">
                Puducherry, with its serene beaches and charming French Quarter, offered a unique coastal retreat. You probably enjoyed leisurely strolls along the Promenade, exploring colonial architecture, and savoring fusion cuisine at quaint cafes. The mystical aura of Auroville and the peaceful ambiance of Sri Aurobindo Ashram might have provided moments of spiritual reflection and relaxation.
            </div> 
        </div>
         
       </div>
       <section class="about">
     <p>The lavish explory of my places</p>   
     <ul class="about-list">
        <li>
        <a href="#">
            <span>Post title</span>
         <span class="list_Date">Date</span>
        </a> 
        </li>
     </ul>
     <span>&lt; These are my posts</span>
       </section>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
     <script type="text/javascript" defer src = "../js/slideshow.js"></script>
</body>
</html>
