
<div class="author">
    <h1 class="author__heading">Hi, I am Lalith Sai.</h1>
    <p class="author__body">Web developer</p>
    <p class="author__body1">Travel Blog</p>
  </div>
  <div class="slideshow-container"> 
    <div class="mySlides fade"> 
        <div class="numbertext">
            1 / 10

        </div> 
        <img src="/img/Travel-1.webp" style=""> 
        <div class="text">Caption Text 1

        </div> 
    </div> 
    <div class="mySlides fade"> 
        <div class="numbertext">
            2 / 10
        </div> 
        <img src="/img/Travel-2.jpeg" style="height :450px; width: 500 px;" >
         <div class="text">
            Caption Text 2
        </div> 
    </div>
     <!-- Add 8 more slides here -->
   </div>
  <!-- Link to the external JavaScript file --> <script type="text/javascript" defer src="../public/js/slideshow.js">   </script>