@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --black : #1c1c1c;
    --gray : #7E7E7E;
    --gray-light : #E4E4E4;
    --red : #b30000;
    --font-size-base : 1rem ;
    --font-sixe-md : clamp(1.25rem , 0.61vw + 1.1rem , 1.58rem);
    --font-size-lg : clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl : clamp(2.44rem, 2.38vw +1.85rem. 3.75rem);
    --border-radius : 30px;
}

body{
    font-family: 'Open Sans', sans-serif;
     font-style: italic;
     color : var(--black);
    background-image : url("../img/wallpaper.webp");
    background-size: cover; /* or use contain if you prefer */
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh; /* Fills the viewport height */
    margin : 0;

}

image[type ="text"],
image[type ="password"],
image[type ="email"],
image[type ="search"],
select,
textarea {
    font-family : var(--font-size-base);
    display : block;
    box-sizing : border-box;
    width : 100%;
    padding : 0.7rem 0.75rem;
    margin-bottom : 1rem;

}
.btn {
    background-color : var(--black);
    border : none;
    color : white;
    padding : 16px 32px;
    text-decoration : none;
    margin : 4px 2px;
    cursor : pointer;

}
.btn-delete{
    padding : 10px 16px;
    background-color : var(--red);
}
   
   .slideshow-container
    { 
    max-width: 1000px; 
    position: relative; 
    margin: auto; 
    }
    
    .main {
        padding : 20px 0;

    }
    
    .mySlides { display: none; } 
    .mySlides img { 
        width: 1000px; 
         height: 550px; 
          object-fit: cover; 
            
          filter : drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
          border : var (--border-radius);
    }
    .text {
        font-size: 20px; 
        opacity: 0;
         transform: translateY(20px); 
         animation: fadeIn 2s ease-out forwards;
        position: absolute;
        width : 800px ;
        height : auto;
        bottom: 8px;
        left: 2.11rem;
        color: white;
        overflow : hidden;
        padding: 6px 12px; /* Smaller padding */
        background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
      }
      

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    /* Layout */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .main {
    padding: 20px 0;
  }
  
  /* Hero Section */
  .hero-image {
    max-height: 528px;
    filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
  }
  
  /* Caption styling */
.caption {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 14px; /* Reduced font size */
  padding: 6px 12px; /* Smaller padding */
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
}

/* Container styling */
.container {
  max-width: 1000px;
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width */
  background-color: rgba(255, 255, 255, 0.8); /* Optional background */
}

/* Slideshow container styling */
.slideshow-container {
  width: 100%;
  position: relative;
  left : 280px;
  margin: 20px 0;
  overflow: hidden; /* To properly contain slides */
}

  /* Main Header */
  .header {
    display: grid;
    background-color : rgba(198, 195, 48, 0.69);
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: 
    "logo button"
    "menu menu";
    
  }
  
  @media only screen and (min-width: 768px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 
      "logo menu button";
    }
  }
  
  .header__logo {
    
    text-decoration: none;
    grid-area: logo;
  }
  
 
  
  .nav_bar {
    justify-content: center;
    display: flex;
    grid-area: menu;
  }
  
  .header__logo, .nav_bar, .search_button {
    width: 100%;
  }
  
  .search_button {
    display: flex;
    justify-content: end;
    grid-area: button;
  }
  
  .search_button button {
    display: flex;
    gap: 5rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
  }
  
  .search_button button:hover {
    border: 2px solid var(--black);
  }
  
  /* Header -> Navigation */
  .nav_bar ul {
    list-style-type: none;
    display: flex;
    gap: 8rem;
    font-weight: 600;
    padding: 0;
  }
  
  .nav_bar ul a {
    padding: 10px;
    text-decoration: none;
  }
  
  .nav_bar ul a.active {
    color: #7E7E7E;
  }
  
  .nav_bar ul a:hover {
    text-decoration: underline;
  }
  
  /* Author - HomePage */
  .author {
    display : flex;
    justify-content : center;
    padding: 10px 0;
    
  }
  
  .author__heading {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .author__body {
    font-size: var(--font-size-md);
    margin: 5px 0 40px 0;
  }
  
  
  /* Home Article List */
  
  
  .about-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
  }
  
  .list_Date {
    font-size: 1rem;
    color: var(--gray);
    width: 100px;
    display: inline-block;
    width: 260px;
  }
  
  .about-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
  }
  
  @media only screen and (min-width: 768px) {
    .about-ul li a {
      flex-direction: row;
      align-items: center;
    }
  
    .list_Date {
      text-align: right;
    }
  }
  .nav_bar ul {
    list-style-type: none;
    display: flex;
    gap: 8rem;
    font-weight: 600;
    padding: 0;
  }
  
  .about ul {
    list-style-type: none;
    padding: 0; /* Remove default padding */
}

.about-list li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.about-list li:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
}

.about-list li:hover {
    filter: none;
}

.about-list:hover li {
    filter: blur(3px);
}

.about-list:hover li:hover {
    filter: none;
}
.about a { 
    text-decoration: none;
    
     color: inherit;  
    }
.about {
    white-space: pre-wrap;
    text-align: center;
}

  
  /* Footer */
  .footer_class {
    margin: 4rem;
    text-align: center;
  }
    /* Navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar{
    background-color : rgba(211, 231, 59, 0.65);
}


  
    @-webkit-keyframes fade {
        from {opacity: 1} 
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: 1} 
        to {opacity: 1}
    }
    @keyframes fadeIn 
    { 
        to { opacity: 1; 
            transform: translateY(0); 
        } 
    }
    

  